<div id="card_{{product.id}}" class="col">
    <div class="card">
        <div class="row g-0">
            <!-- <img src="/test.png" class="img-fluid rounded-start" alt="{{product.name}}"> -->
            <div id="carousel{{product.id}}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for path_model in product.productpicture_set.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img src="{{path_model.file_path.url}}" class="d-block w-100" alt="{{product.name}}">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{product.id}}"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel{{product.id}}"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">{{product.price}}</p>
                <p class="card-text">{{product.sale_stock}}</p>
                <div class="d-flex">
                    <button class="m-2" onclick='card_quantity_handler({{product.id}}, 1)'>+</button>
                    <p class="m-2" id={{product.id}}>{{cart_item_quantity}}</p>
                    <button class="m-2" onclick='card_quantity_handler({{product.id}}, -1)'>-</button>
                    <button id="star_{{product.id}}" class="btn fs-1" onclick="toggle_star({{product.id}})">{% if product in user_favorite_products %}🌟{% else %}✩{% endif %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
