{% extends "general/base.html" %}

{% block page_title %}Home{% endblock page_title %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        {% if user.is_authenticated %}
        <p class="dropdown-toggle m-0 p-3" role="button" data-bs-toggle="dropdown">{{ user.first_name }}</p>
        <ul class="dropdown-menu">
            <li class="dropdown-item">My Orders</li>
            <li class="dropdown-item">Discounts</li>
            <li class="dropdown-item"><a href="{% url 'client:profile_edit' %}">Edit Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'client:signout' %}">Sign Out</a></li>
        </ul>
        {% else %}
        <a href="{% url 'client:signin' %}" class="p-3">Sign In</a>
        <a href="{% url 'client:signup' %}" class="p-3">Sign Up</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="nav-link dropdown-toggle p-3" href="" role="button" data-bs-toggle="dropdown">Cart</a>
            <ul class="dropdown-menu">
                <div id="cart"></div>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Create Order</a></li>
                <li><a class="dropdown-item" href="#">Clear Cart</a></li>
            </ul>
            <form class="d-flex m-0 p-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
<h1 class="mt-5 mb-3">Your Favorites</h1>
<div id="favorites" class="row row-cols-1 row-cols-md-3"></div>
<hr>
{% endif %}

<div class="d-flex mt-5 mb-3">
    <p class="px-3">Categories:</p>
    {% for category in categories %}
    <a class="px-3" href="#{{ category.name.title }}">{{ category.name }}</a>
    {% endfor %}
</div>
<hr>

<div id="products"></div>

<br>

<a href=''>Create Order</a>


{% endblock body %}


{% block js_block %}
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

function alert_not_signed_in_user() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange=function() {
        if (this.readyState == 4 && this.status == 200) {
            if (this.responseText != "OK") {
                alert(this.responseText);
            }
        }
    };
    xhttp.open("POST", "/home/", true);
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(`{"request":"user"}`);
};

function update_content(content) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange=function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById(content).outerHTML =this.responseText;
        }
    };
    xhttp.open("POST", "/home/", true);
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(`{"update":"${content}"}`);
};

function toggle_star(product_id) {
    var xhttp = new XMLHttpRequest();
    alert_not_signed_in_user();
    xhttp.onreadystatechange=function() {
        if (this.readyState == 4 && this.status == 200) {
            document.querySelector(`[id="star_${product_id}"]`).innerHTML = this.responseText;
            update_content("favorites");
        }
    };
    xhttp.open("POST", "/home/", true);
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(`{"star_product_id":${product_id}}`);
};

function update_cart() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange=function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("cart").outerHTML =this.responseText;
        }
    };
    xhttp.open("POST", "/home/", true);
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(`{"update":"cart"}`);
};

{% comment %} function update_card(card_id, product_id) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange=function() {
        if (this.readyState == 4 && this.status == 200) {
            document.querySelectorAll(`[id="${card_id}"]`).forEach(element => {
                element.outerHTML = this.responseText
            });
        }
    };
    xhttp.open("POST", "/home/", true);
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(`{"update":"card", "product_id":${product_id}}`);
}; {% endcomment %}

function card_quantity_handler(product_id, value) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange=function() {
        if (this.readyState == 4 && this.status == 200) {
            {% comment %} document.querySelectorAll(`[id="${product_id}"]`).forEach(element => {
                element.innerHTML = this.responseText
            }); {% endcomment %}
            document.querySelectorAll(`[id="card_${product_id}"]`).forEach(element => {
                element.outerHTML = this.responseText
            });
            update_cart();
        }
    };
    xhttp.open("POST", "/home/", true);
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(`{"product_id":${product_id}, "value" : ${value}}`);
};

update_cart();
update_content("favorites");
update_content("products");

{% endblock js_block %}