{% extends "general/base.html" %}

{% block page_title %}Home{% endblock page_title %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        {% if user.is_authenticated %}
        <p class="dropdown-toggle m-0 p-3" role="button" data-bs-toggle="dropdown">{{ user.first_name }}</p>
        <ul class="dropdown-menu">
            <li class="dropdown-item">My Orders</li>
            <li class="dropdown-item">Discounts</li>
            <li class="dropdown-item"><a href="{% url 'client:profile_edit' %}">Edit Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'client:signout' %}">Sign Out</a></li>
        </ul>
        {% else %}
        <a href="{% url 'client:signin' %}" class="p-3">Sign In</a>
        <a href="{% url 'client:signup' %}" class="p-3">Sign Up</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="nav-link dropdown-toggle p-3" href="" role="button" data-bs-toggle="dropdown">Cart</a>
            <ul class="dropdown-menu">
                <li class="dropdown-item">List of products added to the card</li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Create Order</a></li>
                <li><a class="dropdown-item" href="#">Clear Cart</a></li>
            </ul>
            <form class="d-flex m-0 p-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
<hr>
<p>List of Favorites</p>
<p>----{{products.0.name}}</p>
<p>----Ingredients: {{products.0.ingredients}}</p>
<p name="price" value={{products.0.price}}>----Price: {{products.0.price}}</p>
<p>----Sale Stock: {{products.0.sale_stock}}</p>
<p>----Quantity: <label id={{products.0.id}}>0</label></p>
<button onclick='card_quantity_handler({{products.0.id}}, 1)'>+</button>
<button onclick='card_quantity_handler({{products.0.id}}, -1)'>-</button>
<hr>
{% endif %}

<div class="d-flex">
    <p class="px-3">Categories:</p>
    {% for category in categories %}
    <a class="px-3" href="#{{ category.name }}">{{ category.name }}</a>
    {% endfor %}
</div>
<hr>

{% for category in categories %}
<p id="{{ category.name }}">{{category.name}}</p>
{% for product in products %}
{% if product.category_id == category %}
    <p>----{{product.name}}</p>
    <p>----Ingredients: {{product.ingredients}}</p>
    <p name="price" value={{product.price}}>----Price: {{product.price}}</p>
    <p>----Sale Stock: {{product.sale_stock}}</p>
    <p>----Quantity: <label id={{product.id}}>0</label></p>
    <button onclick='card_quantity_handler({{product.id}}, 1)'>+</button>
    <button onclick='card_quantity_handler({{product.id}}, -1)'>-</button>
{% endif %}
{% endfor %}
{% endfor %}
<a href=''>Create Order</a>


<p id='test'>Hello</p>

<form method="POST">
    {% csrf_token %}
    {% for form in forms %}
    {{ form.as_p }}
    {% endfor %}
    <button type="submit">Submit</button>
</form>

{% endblock body %}

{% block js_block %}
function card_quantity_handler(product_id, value) {
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange=function() {
        if (this.readyState == 4 && this.status == 200) {
        {% comment %} document.getElementById(product_id).innerHTML = this.responseText; {% endcomment %}
        console.log(document.querySelectorAll(`[id="${product_id}"]`))
        document.querySelectorAll(`[id="${product_id}"]`).forEach(element => {
            element.innerHTML = this.responseText
        })
        }
    };
    xhttp.open("POST", "/test/", true);
    xhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xhttp.send(`{"product_id":${product_id}, "value" : ${value}}`);
};

{% comment %} const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange=function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("test").innerHTML = this.responseText;
    }
  };
xhttp.open("POST", "/test/", true);
xhttp.setRequestHeader("X-CSRFToken", csrftoken);
xhttp.send('{"fname":"{{user.first_name}}", "lname":"{{user.last_name}}"}'); {% endcomment %}
{% endblock js_block %}